* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    min-height: 100vh;
    background-color:#F2BB4C;
    color: White;
}

/* Navbar styles */

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.navbar-link {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.navbar-link li{
    height: 70px;
}

.navbar-link a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;  
    color: black;
}

.navbar-link :hover{
    color: gray;
}

.navbar-logo {
    height: 4.5rem;
}

/* Navbar language dropdown btn placeholder */
.language-btn{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
} 

.language-btn:hover{
    background-color: gray;
}

.mobile-nav {
    align-items: center;
    display: none;
    gap: 10px;
    padding: 0 20px;
}

.hamburger {
    font-size: 80px;
    color: black;
    cursor: pointer;
}

/* Navbar responsive collapsing */
@media (max-width: 1024px) {
    .navbar-link {
        display: none;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    .language-btn {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .miniLogo {
        display: block;
    }
}

/* sideNav styling */
.miniLogo {
    width: 2.5rem;
    margin: 10px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #F2BB4C;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
    color: #ffd35b;
}

.sideNav .sideNavCloseBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-style: 36px;
    margin-left: 50px;
}

.sideNavOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.674); 
  z-index: 0; /* updated dynamically via JS */
  display: none;
}

/* Responsiveness meida queries for sideNav */
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-style: 18px;}
}


/* Hero Banner */

.hero-img {
    background-image: url("../images/HeroImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
    width: 100%;
    position: relative; /*For stacking - Hero img on bottom -> Overlay ontop -> Text and btn on top*/

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
}   

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* black overlay */
    z-index: 1;
}

.hero-text-container {
    z-index: 2;
}

.hero-text {
    color: white;
    font-size: 3rem;
    padding-bottom: 200px;
}

/* About us section styling */
.about-section {
    background-color: #F2BB4C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 30px;
    flex-wrap: wrap;
}

.about-content {
    max-width: 600px;
}

.about-quote {  
    font-weight: bold;
    margin-bottom: 50px;
}

.about-link {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    transition: 0.5s;
}

.about-link:hover {
    color: #a57e2f;
    transition: 0.5ms;
}

.about-img {
    max-width: 400px;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-img {
    max-width: 100%;
  }
}


/* Snacks section */
.snacks-section {
    display: flex;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.snacks-header {
  padding-top: 2rem;
  text-align: center;
}

.snacks-header h1 {
    margin-bottom: 0.5rem;
}

.snacks-header p {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
}

/* Carousell area */
.snack-carousel {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    margin-top: 3rem;
    flex: 0 0 100%;
}


.snack {
    width: 150px;
    height: 150px;
    margin: 0 1rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.snack img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.snack-track {
    display: flex;  
    gap: 1rem;
    padding-right: 20px;
    /* Animation code */
    will-change: transform;
    animation: scroll 10s linear infinite;
}

.snack-carousel:hover .snack-track {
  animation-play-state: paused;
}

@keyframes scroll {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

/* Snacks CTA button */
.snack-cta {
    display: flex;
    padding: 20px 80px;
    border-radius: 2rem;
    border-style: none;
    font-size: large;
    background-color: #F2BB4C;
    transition: 50ms;
    cursor: pointer;
}

.snack-cta a {
    color: white;
    text-decoration: none;
}

.snack-cta:hover {
    background-color: #ffaa00;
    transition: 0.5s;
}

.snack-cta-container {
  margin-top: 4rem;   
  display: flex;
  justify-content: center; /* horizontally */
}

.franchise-section {
    display: flex;
    height: 400px;
}

.franchise-header {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    font-size: 4rem;
    text-decoration: underline;
}