* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    background-color: antiquewhite;
}

/* Navbar styles */

.navbar {
    margin: 0;
    padding: 0.3rem;
    background-color: white;
}

.navbar-container {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.navbar-link {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-weight: bold;
}

.navbar-link li{
    list-style-type: none;
}

.navbar-link a{
    text-decoration: none;  
    color: black;
}

.navbar-link :hover{
    color: gray;
}

.navbar-logo {
    height: 4.5rem;
    object-fit: contain;
}

/* Navbar language dropdown btn placeholder */
.language-dropdown{
    padding: 20px;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
}

.language-dropdown:hover{
    background-color: gray;
}

.hero-banner {
    height: 550px;
    background-color: gray;
}